.main-nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.2;
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
}

.main-nav__logo {
  padding: 22px 16px;
}

.main-nav__meatball {
  padding: 0 8px;
}